*{
  font-family: sans-serif;
}

body{
  padding: 0;
  margin: 0;
}


 /* header section  */


.header{
  background-color:  #292828;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}


/* main logo of the website */

.logo{
  height: fit-content;
  display: flex;
  align-items: center;
  width: 30%;
}

.logo>img{
  width: 5rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}

img{
  width: 10%;
  height: 100px;
}

.logo-text{
  color: white;
  font-size:xx-large;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.logo-text-span{
  font-size:large;
  font-weight: 100;
  margin: 0px;
  padding: 0;
}



/* search section of the header */

.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.searchBar>input{
  width: 50%;
  height: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #373737;
  color: white;
}


.searchBar>button{
  width: 10%;
  height: 50%;
  border: 1px solid grey;
  margin-left: 15px;
  color: white;
  background-color: inherit;
}



/* Headers menu logo section */
.menuIcons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.logos{
  width: 40px;
  height: 40px;
}


